*.txt
mm39_egens
*.bed
STATS.log
*.names
*.log
240430_01.02_CREvsPURO.csv
tmp*
venv
.ipynb_checkpoints/ 
.~lock.Cre_1_Puro_1.csv# 
Trinity_trans.isoform.counts.matrix.Cre_R1.RSEM_vs_Puro_R1.RSEM.edgeR.DE_results 
Untitled.ipynb
*.csv
__pycache__/
.*
Sameer_Results*
CREvsPURO_c_1_f_001_m10000/
